body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    font-family: Montserrat, sanf-serif;
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

a {
    font-weight: bold;
}